@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #071201;
  --color-primary1: #f4feed;
  --color-primary2: #c8fca7;
  --color-primary3: #85f83e;
  --color-primary4: #5de408;
  --color-primary5: #409e06;
  --color-primary6: #327b05;
  --color-primary7: #245803;
  --color-primary8: #153502;
  --breakpoint-smallPhone: 320px;
  --breakpoint-phone: 640px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;
  --breakpoint-largeDesktop: 1536px;

}



@layer components {
  .mainBtn {
    @apply bg-primary7 text-white font-bold py-3 px-4  rounded-full hover:bg-primary8 transition duration-200 cursor-pointer;
  }
}

