@import "tailwindcss";

@theme {
  --color-primary: #071201;
  --color-primary1: #f4feed;
  --color-primary2: #c8fca7;
  --color-primary3: #85f83e;
  --color-primary4: #5de408;
  --color-primary5: #409e06;
  --color-primary6: #327b05;
  --color-primary7: #245803;
  --color-primary8: #153502;
}


@layer components {
  .btn {
    @apply bg-blue-700 text-white font-bold py-3 px-4  rounded-full hover:bg-blue-500 transition duration-200;
  }
}